@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --fontH: "Urbanist", sans-serif;
  --fontF: "Forum", serif;
  --gradient: linear-gradient(to bottom, #2474FF 0%, #36DC70 100%);
  --primary: #0B1421;
  --secondary: #2474FF;
  --white: #fff;
  --title: #141F39;
  --text: #455A64;
  --yellow: #FFB038;

  --fs56: 56px;
  --fs40: 40px;
  --fs20: 20px;
  --fs18: 18px;
  --fs17: 17px;
  --fs16: 16px;
  --fs14: 14px;
  --br: 20px;
  --lh: 27px;
  --ts: all 0.35s ease-in-out;
}



* {
  padding: 0;
  margin: 0;
  font-family: var(--fontH)!important;
  box-sizing: border-box;
}
body {
  font-family: var(--fontH)!important;
  overflow-x: hidden;
}

a {
  transition: var(--ts);
}

a.cre-btn:hover, input[type="button"].cre-btn:hover {
  background: #3c4655!important;
}

.navbar.affix {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background: #ffffffeb;
  backdrop-filter: blur(15px);
  height: 70px;
  box-shadow: 0 0 30px #5a5a5a1a;
  animation-duration: 0.50s;
  animation-name: slideInDown;
}

/* color start */
.navbar-nav > li > a{
  color: var(--title);
}

.foo-div_con h5, .foo-div_cnt_lst_nme span {
    color: var(--white);
}

.ser-div  {
    background-color: var(--green);
}

.foo-div_cnt_lst_nme span  {
    color: #8ab0c2;
}
.text_primary {
    color: var(--primary);
}

.foo-div_cnt_lst_icn svg {
  color: var(--yellow);
}

.foo-div_cnt_lst_icn i {
    color: #B192F4;
}
/* color end */
/* font start */
.her-div_cnt h1 {
  font-size: var(--fs56);
}
.tst-div_tit h2, .abt-div_tit h2, .blg-div_tit h2 {
    font-size: var(--fs40);
    font-weight: 600;
}
/* {
    font-size: var(--fs20);
}
{
    font-size: var(--fs18);
} */

.navbar-nav > li > a,
.her-div_cnt h1 + span,
.log-div li:last-child > a, .foo-div_lst h5, .foo-div_con h5,
a.cre-btn {
  font-size: var(--fs16);
}
.foo-div_cnt_lst_nme span, .foo-div_cnt_lst_icn i  {
    font-size: var(--fs14);
}
.foo-div_cpy_lnk p {
    font-size: 11px;
}
/* font end */

/* default start */
.bg_dark {
  background-color: var(--primary) !important;
}
.bg_primary {
  background-color: var(--secondary) !important;
}
.navbar-nav > li > a {
  transition: var(--ts);
}
.bt-1 {
    border-top: 1px solid #efefef26;
}

.py-60 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.log-div li:last-child > a, .ser-div_tit h2{
  color: var(--white);
}

.tst-div_tit h2, .blg-div_tit h2  {
  color: var(--primary);
}

.her-div_cnt p {
  color: var(--text);
}

.abt-div_tit h2, .tst-div_tit h2, .ser-div_tit h2, .blg-div_tit h2  {
font-size: 40px;
font-weight: 600;
}

.ser-div_tit p, .blg-div_tit p {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 24px;
  padding: 0 20% 0 0;
}

.tst-div_tit p  {
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
  line-height: 24px;
  padding: 0 20% 0 0;
}

nav,
#her-div {
  background-color: var(--white);
}

.log-div li:last-child > a {
  background-color: var(--primary);
}


.foo-div_lst h5 {
  color: var(--secondary);
}

.her-div_cnt h1 > span {
  color: var(--primary)!important;
}

.foo-div_lst li > a {
  color: var(--text);
}

/* .foo-div_lst h5 {
    font-size: var(--fs16);
}
.navbar-nav > li > a {
    font-size:  var(--fs15);
}
.foo-div_lst li > a {
    font-size: var(--fs14);
}
.foo-div_cpy p {
    font-size: 13px;
}

.foo-div_lst h5 {
    font-weight: 600;
} */
.foo-div_cpy p,
.navbar-nav > li > a {
  font-weight: 500;
}
.foo-div_lst li > a {
  font-weight: 400;
}

.foo-div_lst ul > li > a {
  line-height: var(--lh);
}


a.cre-btn, input[type="button"].cre-btn {
  padding: 10px 30px;
  border-radius: var(--br);
  font-weight: 400;
  transition: var(--ts);
}

.nav, #her-div, .par-div, .ser-div, .tst-div, .blg-div, .abt-div {
    z-index: 2;
    position: relative;
}

/* =========== */
/* .cre-btn {
} */
/* default end */

/* animation start */
.her-bg_div {
  z-index: -2;
}
.her-bg_icn svg {
  position: absolute;
  top: 120px;
  left: 190px;
  bottom: auto;
  animation: moveupicon 15s infinite;
}
.her-bg_icn_1 svg {
  position: absolute;
  top: 120px;
  margin-top: 100px;
  right: 250px;
  bottom: auto;
  animation: moveupicon 15s infinite;
}
/*.her-div_img {
  animation: moveRightLeft 10s infinite;
}*/



@keyframes moveupicon {
  0% {
    top: 120px;
  }
  50% {
    top: 50px;
  }
  100% {
    top: 120px;
  }
}
@keyframes moveRightLeft {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes services_moveRightLeft {
  0% {
    transform: translate(100%, 100%) ;
  }
  50% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}
/* animation end */

/* navbar start */
a.navbar-brand > span {
  color: var(--primary);
  letter-spacing: -2px;
  font-weight: 900;
  font-size: 30px;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a.active {
  color: var(--secondary)!important;
}

.navbar-nav {
  gap: 20px;
}

.log-div::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -16px;
  width: 1px;
  height: 32px;
  background: #3b394136;
}

.log-div li:last-child > a {
  padding: 10px 30px;
  border-radius: var(--br);
  transition: var(--ts);
}

.log-div li:last-child > a:hover {
  background: var(--secondary);
  color: var(--white)!important;
}

/* navbar end */
/* hero start */
#her-div {
  /* border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px; */
}

.her-div_cnt h1 > span, .her-div_cnt h1 {
    z-index: 1;
    position: relative;
}

.her-div_cnt {
  width: 800px;
}
.her-div_cnt {
  padding: 100px 0 30px;
}
.her-div_cnt h1 > span {
  font-weight: 500;
  font-size: 60px;
}
.her-div_cnt h1 {
  color: var(--primary);
  font-weight: 800;
}
.her-div_cnt h1 > span {
  font-weight: 800;
  background-image: var(--gradient);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}
.her-div_cnt h1 + span {
  font-weight: 500;
  color: var(--text);
  line-height: var(--lh);
  z-index: 1;
}

.her-div_btn {
  position: relative;
  z-index: 4;
}

.her-div_img {
  width: 80%;
  margin: -120px auto 30px;
  position: relative;
  z-index: 1;
  transition: var(--ts);
}

/* hero end */
/* partner start */
.par-div .container {
  padding: 40px 40px;
  background: #ffffff;
  mix-blend-mode: color-dodge;
}

.par-div_lst {
  filter: invert(1) grayscale(1) contrast(0.5);
  margin: 0 30px;
  transition: var(--ts);
}

.par-div_lst:hover {
  filter: none;
}

.par-div_lst_img, .par-div_lst_img img {
  width: 145px;
  height: 100px;
  object-fit: contain;
  margin: 0 auto;
}
/* partner end */
/* service start*/

.ser-div  {
  background-color: var(--secondary);
  margin-top: -30px;
}

.ser-div_card {
    top: 30px;
    position: sticky;
    background-color: var(--white);
    margin-bottom: 20px;
    padding: 30px 0;
    border-radius: 20px;
    border: 3px solid var(--title);
    border-bottom: none;
  }

.ser-div_card:nth-child(3) {
    top: 20px;
    background-color: #F1F3FF;
  }
.ser-div_card:nth-child(4) {
    top: 40px;
    background-color: #F6F6F6;
  }


.ser-div_tit h2 span {
  z-index: 3;
}

.ser-div_box {
  padding: 30px;
  border-right: 1px solid #c4b2dc52;
}

.ser-div_card .col-xl-4:last-child .ser-div_box {
  border-right: none;
}

.ser-div_cnt {
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.ser-div_dtl {
  margin-bottom: 15px;
}

.ser-div_icn > svg {
  width: 45px;
}
.ser-div_icn img {
  width: 40px;
}


.ser-div_icn + h3 {
  font-size: 18px;
  font-weight: 700;
  color: var(--title);
  margin-left: 10px;
  line-height: 27px;
  padding-right: 15px;
  margin-bottom: 0;
}

.ser-div_cnt p {
  line-height: var(--lh);
  color: var(--text);
  font-size: var(--fs16);
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ser-div_btn a {
  font-size: 15px;
  font-weight: 600;
  color: var(--secondary);
  text-decoration: none;
  transition: var(--ts);
}
.ser-div_btn:hover a {
  border-bottom: 1px solid var(--primary);
  color: var(--primary) !important;
}

.ser-div_btn:hover svg > path {
  fill: var(--primary) !important;
}

/* service end */
/* about start */

.abt-div_img::before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background: #fff;
    filter: blur(35px);
    z-index: -1;
    mix-blend-mode: plus-lighter;
}

/*section.abt-div::after {*/
/*  content: '';*/
/*  position: absolute;*/
/*  bottom: -10%;*/
/*  right: 0;*/
/*  width: 220px;*/
/*  height: 220px;*/
/*  border-radius: 100%;*/
/*  background: #ffffff;*/
/*  filter: blur(86px);*/
/*}*/

.abt-div_img::after {
  content: 'Solution AI Way';
    position: absolute;
    right: 51px;
    width: auto;
    bottom: 22px;
    font-weight: 100;
    font-size: 31px;
    text-align: right;
    z-index: 4;
    color: #f6f6f6;
    filter: drop-shadow(0px 9px 20px #00000047);
    font-style: italic;
    background: linear-gradient(to right, #2474FF 0%, #36DC70 100%);
    padding: 0 30px;
    transform: skew(5deg, 0deg);
}

section.abt-div::before {
  content: '';
  position: absolute;
  top: 21%;
  left: -54px;
  width: 320px;
  height: 320px;
  border-radius: 100%;
  background: #24f8ff66;
  filter: blur(80px);
  z-index: -1;
}

.abt-div {
  background-color: #F6F6F6;
}

.abt-div > .container {
    /* padding: 80px 0px; */
}

/* .abt-div_img {
    padding: 0 40px;
} */

.abt-div_img {
    padding: 0 40px;
    width: 100%;
    z-index: 3;
    position: relative;
}

.abt-div_img img {
filter: brightness(1.1);
}

.abt-div_tit h2 {
  color: var(--primary);
}

.abt-div_tit p {
    font-size: 16px;
    color: var(--text);
    font-weight: 500;
    line-height: var(--lh);
    margin-bottom: 0;
}

.abt-div_box li {
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #141f3933;
  margin-bottom: 16px;
}

.abt-div_box li span {
  font-size: 45px;
  font-weight: 900;
  margin-right: 20px;
  background-image:linear-gradient(to bottom, #8424FF 42%, #1f93ff);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.abt-div_box li:first-child span{
  background-image:linear-gradient(to bottom, #2474FF 50%, #36DC70);
}

.abt-div_box li:last-child span{
  background-image: linear-gradient(to bottom, #4968d7 45%, #DC3690);
}


.abt-div_tit p, .blg-div_tit p {
  font-size: 16px;
  color: var(--text);
  font-weight: 500;
  line-height: var(--lh);
}


.abt-div_lst li > span {
  font-size: 15px;
  font-weight: 600;
  color: var(--dark);
  margin-bottom: 12px;
  display: block;
}

.abt-div_lst span > i {
  background: var(--dark);
  color: #fff;
  border-radius: 100px;
  padding: 5px 6px;
  font-size: 12px;
}

.abt-div_inn_img > img {
  height: 400px;
  object-fit: cover;
  border-radius: var(--br);
  object-position: bottom;
}

/* about end */
/* activity start */
/* activity end */
/* counter start */
/*.cnt-div::before {
    content: '';
    position: absolute;
    top: -146px;
    left: 0;
    width: 100%;
    height: 257px;
    background: var(--secondary);
    z-index: 0;
    transform: rotate(-3deg);
    border-radius: 20px;
}
*/



.cre-div_tit h2 {
  font-size: 30px;
  font-weight: 400;
}
.cre-div_tit p {
  font-size: 14px;
  font-weight: 500;
  color: var(--text);
  line-height: 24px;
}

.cre-div_bnt a {
  background: var(--secondary);
  color: var(--white);
  font-size: 14px;
  padding: 15px 35px;
  border-radius: 30px;
}

.cre-div_psedu::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  background-image: linear-gradient(90deg, white, transparent);
  left: 0;
  top: 0;
  z-index: 2;
}

.cre-div_psedu::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  background-image: linear-gradient(-90deg, white, transparent);
  right: 0;
  top: 0;
  z-index: 2;
}

.cre-div_sli_img {
  box-shadow: 1.7px 1.694777488708496px 4.5px 0px rgba(29, 25, 209, 0.1);
  background: rgb(255 255 255 / 30%);
  margin-right: 20px;
  margin-left: 20px;
  height: 80px;
  backdrop-filter: blur(17.7px);
  border-radius: 12px;
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cre-div_sli_img img {
  width: 40px !important;
}

.cre-div_sli_img svg {
}

.cre-div_sli .item {
  padding: 10px 0;
}

.cre-div_sli_cnt h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}
.cre-div_sli_cnt p {
  font-weight: 300;
  color: var(--text);
  font-size: 14px;
}

/* cre end */
/* testimonial start */
.tst-div {
}

#tst-div_sli .owl-nav {
  text-align: center;
    margin-top: 50px;
}

#tst-div_sli .owl-dots {
  display: none;
}

#tst-div_sli .owl-nav button {
  width: 60px;
  height: 60px;
  background: var(--title);
  border: 1px solid var(--title);
  border-radius: 100%;
  color: #fff;
  font-size: 18px;
  margin-right: 20px;
}

#tst-div_sli .owl-nav button + button {
  background-color: var(--white);
  color: var(--title);
}

.tst-div_box {
  border: 3px solid #F1F3FF;
  border-radius: 20px;
  padding: 70px 40px;
  background: #F1F3FF;
  min-height: 468px;
}

.tst-div_box_img {
  width: 130px;
  margin-bottom: 5px;
}

.tst-div_box_img svg {
  font-size: 54px;
  z-index: 0;
  color: var(--secondary);
}

.tst-div_box_cnt {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 45px;
  line-height: var(--lh);
  color: var(--title);
}

.tst-div_box_pro {
  margin-top: 20px;
}

.tst-div_box_pro_img {
  width: 55px;
  height: 55px;
  overflow: hidden;
  border-radius: 100%;
}

.tst-div_box_pro_img > img {
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.tst-div_box_pro_tit {
  text-align: start;
  padding-left: 12px;
}

.tst-div_box_pro_tit span {
  font-weight: 800;
  color: var(--title);
  font-size: 16px;
}

.tst-div_box_pro_tit p {
  margin-bottom: 0;
  color: var(--text);
  font-size: 14px;
}

.tst-div .carousel-indicators [data-bs-target] {
    filter: grayscale(1);
    width: 100px;
    height: 100px;
    margin-right: 30px;
    opacity: .2;
}






/* testimonial end */
/* blog start */

.blg-div_box {
  padding: 0 25px 20px;
}

section.blg-div::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 220px;
  height: 700px;
  background: linear-gradient(to right, #00d8ff9c, #8bbfff);
  filter: blur(200px);
  z-index: -2;
  mix-blend-mode: color-burn;
}


.blg-div_lst {
  background: #fff;
  box-shadow: 0 6px 30px #e2e9ff57;
  border-radius: 20px;
  padding: 0px 0px 20px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.blg-div_dtl:hover a {
  color: var(--primary);
  text-decoration: underline;
}

.blg-div .owl-dots {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
}


.blg-div .owl-dots > button.active {
    opacity: 1;
    width: 15px;
    height: 15px;
    background: var(--secondary)!important;
}

.blg-div .owl-dots > button {
  width: 12px;
  height: 12px;
  background: var(--text)!important;
  border-radius: 100%;
  opacity: 0.4;
  margin: 0 5px;
  transition: var(--ts);
}

.blg-div_dtl h6 {
  color: var(--title);
  font-weight: 600;
  font-size: 18px;
  line-height: var(--lh);
  padding: 10px 0;
  position: relative;
  text-decoration: none;
  margin-bottom: 0;
}

.blg-div_dtl p {
  font-size: 16px;
  color: var(--text);
  margin-top: 0px;
  padding: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blg-div_date svg,
.blg-div_lnk svg {
  width: 16px;
}
.blg-div_date p {
  font-size: 14px;
  font-weight: 500;
  color: var(--dark);
  padding-left: 6px;
}
.blg-div_lnk a {
  font-size: 14px;
  font-weight: 500;
  padding-left: 6px;
  color: var(--dark);
}

.blg-div_lst_img {
  height: 280px;
  border-radius: 20px;
  overflow: hidden;
}

.blg-div_dtl {
  padding: 0 20px;
}

.blg-div_btn a {
  text-decoration: none;
  font-weight: 500;
  color: var(--secondary);
  font-size: 15px;
}

#blg-div_sli .item {
  margin: 0 5px 20px;
}

.blg-div_lst_img > img {
  height: 100%;
  object-fit: cover;
}

/* blog end */
/* footer start */

footer.foo-div::before {
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  background: var(--secondary);
  border-radius: 100%;
  bottom: 0;
  filter: blur(600px);
  z-index: -1;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.foo-div_img p {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  margin-top: 15px;
}

.foo-div_cpy_lnk {
  padding-top: 0px;
}

.foo-div {
  padding-top: 80px;
  position: relative;
  bottom: 0;
  overflow: hidden;
  left: 0;
  z-index: 9;
  background-image: linear-gradient(to bottom, var(--primary) 93%, #020508 0);
}

.foo-div_img {
  /*width: 120px;*/
}
.foo-div_img > span {
  color: var(--white);
  letter-spacing: -2px;
  font-weight: 900;
  font-size: 30px;
}
.foo-div_cpy {
}
.foo-div_lst h5, .foo-div_con h5 {
  color: var(--white);
  margin-bottom: 25px !important;
  font-weight: 600;
}

.foo-div_lst ul > li > a {
  line-height: 30px;
  color: #8ab0c2;
  font-size: 14px;
  transition: var(--ts);
}

.foo-div_lst ul > li > a:hover {
  color:#f6f6f6;
}

.foo-div_con_lst::before {
    content: '';
    position: absolute;
    right: 50px;
    top: -2px;
    width: 1px;
    height: 28px;
    background: #efefef26;
}

.foo-div_con .col-xl-4:last-child .foo-div_con_lst::before {
    display: none;
}

.foo-div_cpy_lnk p {
  margin-top: -10px;
}

.foo-div_soc ul {
  gap: 10px;
  justify-content: end;
  padding-bottom: 9px;
}


.foo-div_soc ul svg {
  background: #fff;
  color: var(--primary);
  border-radius: 100%;
  width: 13px;
  height: 13px;
  padding: 6px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  transition: var(--ts);
} 

.foo-div_soc ul svg:hover {
  background: #ffffff80;
}

.foo-div_cpy_lnk p a {
    /* width: 100%; */
    /* border-bottom: 1px solid var(--white); */
}

.foo-div_cpy p {
  font-size: 12px;
  color: #fff;
  font-weight: 500;
}

.foo-div_cpy p > a:first-child ~ a {
  font-weight: 400;
}

/* footer end */

/* inner start */
.abt-div_inn .ser-div_box {
  padding: 30px;
  border: 1px solid #455a6429;
  height: 100%;
  background: var(--white);
  box-shadow: 0 17px 40px #f0f0f000;
  border-radius: var(--br);
}

section.inn-div::before {
  content: '';
  position: absolute;
  top: 58%;
  left: 57%;
  width: 320px;
  height: 320px;
  border-radius: 100%;
  background: #000eff;
  transition: var(--ts);
  filter: blur(31px) !important;
  mix-blend-mode: color-burn;
  z-index: 1;
  animation: services_moveRightLeft 40s infinite;
}



.inn-div {
  background-image: linear-gradient(to bottom, #fff, #F6F6F6);
}


.inn-div .inn-div_tit h2 {
  color: var(--title);
  font-size: 40px;
  font-weight: 600;
}

.abt-div_inn .inn-div_tit p {
  color: var(--text);
  font-size: 16px;
  line-height: var(--lh);
}

.ser-div_inn .ser-div_box {
  padding: 30px;
  border: 1px solid #455a6429;
  height: 100%;
  background: var(--white);
  box-shadow: 0 17px 40px #f0f0f000;
  border-radius: var(--br);
  position: relative;
  z-index: 1;
}

.ser-div_inn::before {
  content: '';
  position: absolute;
  top: 58%;
  right: 25%;
  background: #000eff80;
  width: 220px !important;
  border-radius: 100%;
  height: 220px !important;
  filter: blur(31px) !important;
  mix-blend-mode: color-burn;
  z-index: 1;
}

.inn-div::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 0;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background: var(--secondary);
  filter: blur(110px);
  mix-blend-mode: hard-light;
  z-index: 0;
}

.inn-div_blg_box::before {
 background: #24cbff!important;
 mix-blend-mode: hard-light!important;
 filter: blur(125px) !important;
}

.inn-por_div_lst_img {
  overflow: hidden;
  background-size: cover;
  height: 500px;
  border-radius: var(--br) var(--br) 0 0;
  background-position: 0% 0%;
  box-shadow: 0 17px 40px #ffffff1c;
  z-index: 3;
  position: relative;
  background-repeat: no-repeat;
  transition: 5s all ease-in;
}

.inn-por_div_lst:hover .inn-por_div_lst_img {
  background-position:  0% 100%;
}

.inn-por_div_lst {
  position: relative;
  z-index: 2;
}

.inn-por_div_dtl {
  background: var(--primary);
  color: #fff;
  text-align: center;
  border-radius: 0 0 var(--br) var(--br);
}
.inn-por_div_dtl h6 {
  font-size: 16px;
  font-weight: 400;
  padding: 14px 10px;
}
/* inner end */
/* contact start */
.inn-con_div_dtl {
  background: var(--white);
  z-index: 3;
  position: relative;
  border-radius: var(--br);
  padding: 40px 0px;
  box-shadow: 0 17px 40px #455a6412;
}
.inn-con_div_dtl h4 {
  font-size: 20px;
    color: var(--title);
    padding: 0 30px;
    font-weight: 600;
}

.inn-con_div_call {
  border-bottom: 1px solid #607d8b21;
    padding: 15px 30px;
}

.inn-con_div_lst_soc svg {
  font-size: 18px;
  margin-right: 5px;
}

.inn-con_div_call > span:last-child {
  margin-left: 20px;
}

.inn-con_div_call.d-flex span > svg {
  background: var(--gradient);
  color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  padding: 13px;
}

.inn-con_div_call b {
  color: #4caf58;
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 3px;
}

.inn-con_div_call a {
  color: var(--text);
  font-size: 16px;
}

.inn-con_div_frm {
  padding: 0 30px;
}

.inn-con_div_frm_inp label {
font-size: 15px;
color: #697288;
font-weight: 500;
margin-bottom: 0;
}

.inn-con_div_frm_inp label > span {
  color: #ff4b24;
  font-size: 18px;
  margin-left: 6px;
  position: absolute;
}

.inn-con_div_frm_inp textarea { 
  min-height: 100px;
}

.inn-con_div_frm_inp input, .inn-con_div_frm_inp textarea {
    border: none;
    box-shadow: none!important;
    border-bottom: 1px solid #6972883d;
    border-radius: 0;
}


@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

/* contact end */
