/* from 1200px to 1400px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  :root {
    --fs14: 14px;
    --fs16: 15px;
    --fs20: 17px;
    --fs25: 20px;
    --fs32: 22px;
    --fs50: 35px;
    --fs65: 50px;
    --fs90: 70px;
    --ls5: -3px;
    --ls4: -0.9px;
    --pb200: 100px;
  }

  .srv-sec_servie_name_container h4,
  .discussTheProject-sec_heading_container > h5 {
    letter-spacing: -2.5px;
  }

  .hr-sec_heading_container_play {
    width: 70px;
    height: 70px;
  }
}

/* max 991px  */
@media only screen and (max-width: 991px) {
  .hd-sec_hanburger_mobile_navbar_container > ul {
    grid-gap: 10px;
  }
  .hd-sec_hanburger_mobile_navbar_header_close_container {
    width: 24px;
    filter: brightness(0) grayscale(0) brightness(10) contrast(9);
    margin-top: -14px;
  }
  .hd-sec_hanburger_mobile_navbar_container ul > li > a {
    font-size: 15px;
  }
  .hd-sec_action_container {
    font-size: 20px;
    letter-spacing: -1.2px;
    transition: 0.5s all ease-in;
  }
  .hd-sec_language {
    font-weight: 300;
  }
  .hd-sec_hanburger_mobile_navbar_container ul > li {
    width: fit-content;
    margin: 0 auto;
  }
  .hd-sec_hanburger_mobile_navbar {
    opacity: 0;
  }
  .hd-sec_hanburger_mobile_navbar {
    position: fixed;
    top: 0;
    background: var(--lightclr);
    width: 100%;
    left: 0;
    height: 100vh;
    z-index: 99999999;
    box-shadow: 0 0 35px #1a1a1a3b;
    border-radius: 0;
    overflow: hidden;
  }
}

/* from 768px to 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  :root {
    --fs14: 14px;
    --fs16: 16px;
    --fs20: 17px;
    --fs25: 22px;
    --fs32: 24px;
    --fs50: 40px;
    --fs65: 55px;
    --fs90: 52px;
    --ls5: -4px;
    --ls4: -1px;
    --pb200: 100px;
  }

  /* default start */
  .srv-sec_servie_name_container h4 {
    letter-spacing: -2.5px;
  }
  .hr-sec_heading_container_second span {
    line-height: 20px;
  }
  .ct-sec_logo-container {
    grid-gap: 60px;
  }
  .hr-sec_link_container > ul {
    grid-gap: 6px;
  }
  .fnd-sec_project_image,
  .fnd-sec_project_image_container,
  .blg-sec_project_image,
  .blg-sec_project_image_container {
    height: 270px;
  }
  /* default end */
  .vdo-sec_video_container {
    height: 450px;
  }
  .hr-sec_heading_container_play {
    width: 45px;
    height: 45px;
  }
  .hr-sec_cloud-container {
    width: 40px;
  }
  .hr_sec_website_container,
  .hr-sec_ai_container {
    width: 110px;
  }
  .hd-sec_hanburger_container {
    width: 35px;
  }
  .hr-sec_heading_container_play > img {
    width: 10px;
  }
  .container {
    max-width: 90%;
  }
  .ct-sec_logo_image > a > img {
    height: 90px;
  }
}
/* from 568px to 768px */
@media only screen and (min-width: 568px) and (max-width: 768px) {
  :root {
    --fs14: 14px;
    --fs16: 15px;
    --fs20: 15px;
    --fs25: 16px;
    --fs32: 18px;
    --fs50: 30px;
    --fs65: 40px;
    --fs90: 54px;
    --ls5: -2.5px;
    --ls4: -1px;
    --pb200: 70px;
  }

  /* default start */
  body,
  html {
    overflow-x: hidden;
  }
  .srv-sec_servie_name_container h4 {
    letter-spacing: -2px;
  }
  .hr-sec_heading_container_second span,
  .hr-sec_heading_container h1 {
    line-height: 20px;
  }
  .ct-sec_logo-container {
    grid-gap: 30px;
  }
  .hr-sec_link_container > ul {
    grid-gap: 6px;
  }
  .fnd-sec_project_image,
  .fnd-sec_project_image_container,
  .blg-sec_project_image,
  .blg-sec_project_image_container {
    height: 210px;
  }
  .fnd-sec_project_container,
  .blg-sec_project_container,
  .fnd-sec,
  .blg-sec_link_container a > span,
  .vdo-sec_video_container,
  .fnd-sec_link_container a > span,
  .foo-sec_list_container > ul > li > a,
  .fnd-sec_project_title_container a,
  .fnd-sec_project_image,
  .blg-sec_link_container a > span,
  .blg-sec_project_title_container a,
  .blg-sec_project_image {
    border-radius: 20px;
  }
  /* default end */
  .foo-sec_footer_logo_container {
    width: 80px;
  }
  .foo-sec {
    padding-bottom: 10px;
  }
  .srv-sec_service_image_container {
    width: 100%;
    max-width: 300px;
    height: 200px;
    border-radius: 20px;
  }

  .hr-sec_heading_container_second span {
    padding-right: 30%;
  }
  .hr-sec_link {
    align-self: flex-end;
  }
  .pt-110 {
    padding-top: 70px;
  }
  .hr-sec_cloud-container {
    margin-left: 25%;
    padding-bottom: 10px;
  }
  .vdo-sec_video_container {
    height: 450px;
  }
  .hr-sec_heading_container_play {
    width: 70px;
    height: 70px;
  }
  .hr-sec_cloud-container {
    width: 30px;
  }
  .hr_sec_website_container,
  .hr-sec_ai_container {
    width: 90px;
  }

  .hr-sec_ai_container {
    margin-left: 80%;
    margin-top: -8%;
  }

  .hr_sec_website_container {
    margin-left: -5px;
    margin-top: 20px;
  }

  .hr-sec_link_project_container > span:first-child {
    font-size: 28px;
    font-weight: 500;
  }

  .fnd-sec_project_title_container,
  .blg-sec_project_title_container {
    padding: 30px 20px 30px;
  }

  .hd-sec_hanburger_container {
    width: 35px;
  }
  .ct-sec_logo_image > a > img {
    height: 90px;
  }
  .hd-sec_logo_container,
  .hd-sec_hanburger_mobile_navbar_header_logo_container {
    width: 75px;
  }
  .foo-sec_list_container > ul {
    margin: 25px 0;
  }

  .foo-sec_list_container > ul > li > a {
    text-decoration: underline !important;
    padding: 0;
    border: none;
    margin: 5px 0 0;
  }
  .sld-sec_image_container {
    height: 200px;
  }
  .legacyVideo-sec .modal-dialog {
    width: 95%;
  }
  .legacyVideo-sec_video_container {
    height: 300px;
  }
  .char {
    transition: transform 0.7s;
  }
  .discussTheProject-sec_heading_container > h5 {
    letter-spacing: -1.5px;
  }
  .discussTheProject-sec_method_container > ul {
    flex-wrap: wrap;
  }
  .discussTheProject-sec_method_container > ul > li {
    flex: 2;
    padding: 0 20px;
  }
  .discussTheProject-sec .modal-content {
    padding: 15px;
  }
  .discussTheProject-sec .btn-close, .legacyVideo-sec .btn-close {
    bottom: 20px;
  }
}
/* <568px */
@media only screen and (max-width: 568px) {
  :root {
    --fs14: 14px;
    --fs16: 15px;
    --fs20: 15px;
    --fs25: 16px;
    --fs32: 18px;
    --fs50: 30px;
    --fs65: 40px;
    --fs90: 45px;
    --ls5: -2.5px;
    --ls4: -1px;
    --pb200: 70px;
  }

  /* default start */
  body,
  html {
    overflow-x: hidden;
  }
  .srv-sec_servie_name_container h4 {
    letter-spacing: -2px;
  }
  .hr-sec_heading_container_second span,
  .hr-sec_heading_container h1 {
    line-height: 20px;
  }
  .ct-sec_logo-container {
    grid-gap: 30px;
  }
  .hr-sec_link_container > ul {
    grid-gap: 6px;
  }
  .fnd-sec_project_image,
  .fnd-sec_project_image_container,
  .blg-sec_project_image,
  .blg-sec_project_image_container {
    height: 210px;
  }
  .fnd-sec_project_container,
  .blg-sec_project_container,
  .fnd-sec,
  .blg-sec_link_container a > span,
  .vdo-sec_video_container,
  .fnd-sec_link_container a > span,
  .foo-sec_list_container > ul > li > a,
  .fnd-sec_project_title_container a,
  .fnd-sec_project_image,
  .blg-sec_link_container a > span,
  .blg-sec_project_title_container a,
  .blg-sec_project_image {
    border-radius: 20px;
  }
  /* default end */
  .foo-sec_footer_logo_container {
    width: 80px;
  }
  .foo-sec {
    padding-bottom: 10px;
  }
  .srv-sec_service_image_container {
    width: 100%;
    max-width: 300px;
    height: 200px;
    border-radius: 20px;
  }

  .hr-sec_heading_container_second span {
    padding-right: 30%;
  }
  .hr-sec_link {
    align-self: flex-end;
  }
  .pt-110 {
    padding-top: 70px;
  }
  .hr-sec_cloud-container {
    margin-left: 25%;
    padding-bottom: 10px;
  }
  .vdo-sec_video_container {
    height: 450px;
  }
  .hr-sec_heading_container_play {
    width: 60px;
    height: 60px;
  }
  .hr-sec_cloud-container {
    width: 30px;
  }
  .hr_sec_website_container,
  .hr-sec_ai_container {
    width: 75px;
  }
  .hr_sec_website_container {
    margin-left: -5px;
    margin-top: 20px;
  }

  .hr-sec_link_project_container > span:first-child {
    font-size: 28px;
    font-weight: 500;
  }

  .fnd-sec_project_title_container,
  .blg-sec_project_title_container {
    padding: 30px 20px 30px;
  }

  .hd-sec_hanburger_container {
    width: 35px;
  }
  .ct-sec_logo_image > a > img {
    height: 90px;
  }
  .hd-sec_logo_container,
  .hd-sec_hanburger_mobile_navbar_header_logo_container {
    width: 75px;
  }
  .foo-sec_list_container > ul {
    margin: 25px 0;
  }

  .foo-sec_list_container > ul > li > a {
    text-decoration: underline !important;
    padding: 0;
    border: none;
    margin: 5px 0 0;
  }
  .sld-sec_image_container {
    height: 200px;
  }
  .legacyVideo-sec .modal-dialog {
    width: 95%;
  }
  .legacyVideo-sec_video_container {
    height: 300px;
  }
  .char {
    transition: transform 0.7s;
  }
  .discussTheProject-sec_heading_container > h5 {
    letter-spacing: -1.5px;
  }
  .discussTheProject-sec_method_container > ul {
    flex-wrap: wrap;
  }
  .discussTheProject-sec_method_container > ul > li {
    flex: 2;
    padding: 0 20px;
  }
  .discussTheProject-sec .modal-content {
    padding: 15px;
  }
  .discussTheProject-sec .btn-close, .legacyVideo-sec .btn-close {
    bottom: 20px;
    top: auto;
  }
}
