/* from 1200px to 1400px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  :root {
    --fs14: 14px;
    --fs16: 15px;
    --fs20: 17px;
    --fs25: 20px;
    --fs32: 22px;
    --fs50: 35px;
    --fs65: 50px;
    --fs90: 70px;
    --ls5: -3px;
    --ls4: -0.9px;
    --pb200: 100px;
  }

  .srv-sec_servie_name_container h4,
  .discussTheProject-sec_heading_container > h5 {
    letter-spacing: -2.5px;
  }

  .hr-sec_heading_container_play {
    width: 70px;
    height: 70px;
  }
}
/* from 768px to 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  :root {
    --fs14: 14px;
    --fs16: 16px;
    --fs20: 18px;
    --fs25: 22px;
    --fs32: 24px;
    --fs50: 40px;
    --fs65: 55px;
    --fs90: 60px;
    --ls5: -4px;
    --ls4: -1px;
    --pb200: 100px;
  }

  /* default start */
  .srv-sec_servie_name_container h4 {
    letter-spacing: -2.5px;
  }
  .hr-sec_heading_container_second span {
    line-height: 20px;
  }
  .ct-sec_logo-container {
    grid-gap: 60px;
  }
  .hr-sec_link_container > ul {
    grid-gap: 6px;
  }
  .fnd-sec_project_image,
  .fnd-sec_project_image_container,
  .blg-sec_project_image,
  .blg-sec_project_image_container {
    height: 270px;
  }
  /* default end */
  .vdo-sec_video_container {
    height: 450px;
  }
  .hr-sec_heading_container_play {
    width: 60px;
    height: 60px;
  }
  .hr-sec_cloud-container {
    width: 40px;
  }
  .hr_sec_website_container,
  .hr-sec_ai_container {
    width: 110px;
  }
  .hd-sec_hanburger_container {
    width: 35px;
  }
  .container {
    max-width: 90%;
  }
  .ct-sec_logo_image > a > img {
    height: 90px;
  }
}
/* from 568px to 768px */
@media only screen and (min-width: 568px) and (max-width: 768px) {
}
/* <568px */
@media only screen and (max-width: 568px) {
  :root {
    --fs14: 14px;
    --fs16: 15px;
    --fs20: 15px;
    --fs25: 16px;
    --fs32: 18px;
    --fs50: 30px;
    --fs65: 40px;
    --fs90: 45px;
    --ls5: -2.5px;
    --ls4: -1px;
    --pb200: 70px;
  }

  /* default start */
  body,
  html {
    overflow-x: hidden;
  }
  .srv-sec_servie_name_container h4 {
    letter-spacing: -2px;
  }
  .hr-sec_heading_container_second span,
  .hr-sec_heading_container h1 {
    line-height: 20px;
  }
  .ct-sec_logo-container {
    grid-gap: 30px;
  }
  .hr-sec_link_container > ul {
    grid-gap: 6px;
  }
  .fnd-sec_project_image,
  .fnd-sec_project_image_container,
  .blg-sec_project_image,
  .blg-sec_project_image_container {
    height: 210px;
  }
  .fnd-sec_project_container,
  .blg-sec_project_container,
  .fnd-sec,
  .blg-sec_link_container a > span,
  .vdo-sec_video_container,
  .fnd-sec_link_container a > span,
  .foo-sec_list_container > ul > li > a,
  .fnd-sec_project_title_container a,
  .fnd-sec_project_image,
  .blg-sec_link_container a > span,
  .blg-sec_project_title_container a,
  .blg-sec_project_image {
    border-radius: 20px;
  }
  /* default end */
  .foo-sec_footer_logo_container {
    width: 80px;
  }
  .foo-sec {
    padding-bottom: 10px;
  }
  .srv-sec_service_image_container {
    width: 100%;
    max-width: 300px;
    height: 200px;
    border-radius: 20px;
  }

  .hr-sec_heading_container_second span {
    padding-right: 30%;
  }
  .hr-sec_link {
    align-self: flex-end;
  }
  .pt-110 {
    padding-top: 70px;
  }
  .hr-sec_cloud-container {
    margin-left: 25%;
    padding-bottom: 10px;
  }
  .vdo-sec_video_container {
    height: 450px;
  }
  .hr-sec_heading_container_play {
    width: 60px;
    height: 60px;
  }
  .hr-sec_cloud-container {
    width: 30px;
  }
  .hr_sec_website_container,
  .hr-sec_ai_container {
    width: 75px;
  }
  .hr_sec_website_container {
    margin-left: -5px;
    margin-top: 20px;
  }

  .hr-sec_link_project_container > span:first-child {
    font-size: 28px;
    font-weight: 500;
  }

  .fnd-sec_project_title_container,
  .blg-sec_project_title_container {
    padding: 30px 20px 30px;
  }

  .hd-sec_hanburger_container {
    width: 35px;
  }
  .ct-sec_logo_image > a > img {
    height: 90px;
  }
  .hd-sec_logo_container {
    width: 75px;
  }
  .foo-sec_list_container > ul {
    margin: 25px 0;
  }

  .foo-sec_list_container > ul > li > a {
    text-decoration: underline !important;
    padding: 0;
    border: none;
    margin: 5px 0 0;
  }
  .sld-sec_image_container {
    height: 200px;
  }
    .char { 
    transition: transform 0.6s;
  }
}
